[Desktop Entry]
Version=1.0
Type=Application
Name=Lemonator
GenericName=AI Character Guessing Game
Comment=AI detective guesses your character and renders an image
Exec=lemonator %U
Icon=${SNAP}/meta/gui/lemonator.png
Terminal=false
Categories=Game;LogicGame;
Keywords=game;ai;guessing;character;akinator;
StartupNotify=true
StartupWMClass=Lemonator
